name: GoFmt Check

on:
  pull_request:
    branches:
      - '**'  # Escuta PRs para qualquer branch de destino

jobs:
  gofmt:
    runs-on: ubuntu-latest

    steps:
      # Configura o repositório
      - name: Checkout repository
        uses: actions/checkout@v3

      # Configura o ambiente Go
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20' # Ajuste a versão do Go conforme necessário

      # Executa o gofmt para verificar formatação
      - name: Run gofmt
        run: |
          gofmt -l .
          if [ "$(gofmt -l .)" != "" ]; then
            echo "⚠️ The following files need to be formatted:"
            gofmt -l .
            exit 1
          fi
